* {
    font-family: monospace;
}

/* Target the radio button input element directly */
:host ::ng-deep .p-radiobutton .p-radiobutton-input {
    appearance: none;
    -webkit-appearance: none;
}


:host ::ng-deep .user-wrong .p-radiobutton.p-radiobutton-checked .p-radiobutton-box {
    border-color: red;
    background-color: transparent;
}


:host ::ng-deep .user-wrong .p-radiobutton.p-radiobutton-checked .p-radiobutton-box::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    display: block;
}

:host ::ng-deep .user-correct .p-radiobutton.p-radiobutton-checked .p-radiobutton-box,
:host ::ng-deep .correct-reveal .p-radiobutton.p-radiobutton-checked .p-radiobutton-box {
    border-color: green;
    background-color: transparent;
}


/* Hide the default icon if it conflicts */
:host ::ng-deep .p-radiobutton-icon {
    display: none;
}

@media (max-width: 800px) {

    :host ::ng-deep .p-radiobutton-box {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        margin-inline: 0;
    }

    :host ::ng-deep .p-radiobutton.p-radiobutton-checked .p-radiobutton-box::after {
        width: 6px;
        height: 6px;
    }

    :host ::ng-deep .p-chart {
        max-width: 100%;
    }
}