<div class="grid grid-cols-12 items-center relative">
    <div class="user-image-container col-span-2">
        <img src="/assets/images/user-profile.avif" class="block size-full" alt="">
    </div>
    <div class="personal-info col-span-8 ms-1">
        <span class="block text-blue-500 text-[14px]">user name</span>
        <span class="block text-gray-500 text-[12px]">info@gmail.com</span>
    </div>
    <div class="droplist-drawer flex items-center justify-center col-span-2">
        <span class="text-gray-500 cursor-pointer" (click)="toggleDropDown()"><lucide-angular
                [img]="ellipsisVertical"></lucide-angular></span>
    </div>
    @if(dropDownFlag()){
    <div class="absolute bottom-0 right-0 translate-x-55 z-10">
        <div class="bg-white min-w-50 shadow-lg dropdownlist-container">
            <ul class="flex flex-col">
                <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-gray-700 text-[14px] whitespace-nowrap cursor-pointer
            " [routerLink]="'account'" (click)="closeDropDown()"><lucide-angular class="shrink-0"
                            [img]="userRound"></lucide-angular><span class="block">Account</span></a></li>
                <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-gray-700 text-[14px] whitespace-nowrap cursor-pointer
            " (click)="closeDropDown()"><lucide-angular class="shrink-0" [img]="bolt"></lucide-angular><span
                            class="block">Dashboard</span></a>
                </li>
                <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-red-600 text-[14px] whitespace-nowrap cursor-pointer
            " (click)="closeDropDown()"><lucide-angular class="shrink-0" [img]="logOut"></lucide-angular><span
                            class="block">Log Out</span></a>
                </li>
            </ul>
        </div>
    </div>
    }
</div>