<div class="bg-white min-w-50 shadow-lg">
    <ul class="flex flex-col">
        <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-gray-700 text-[14px] whitespace-nowrap
            "><lucide-angular class="shrink-0"
                    [img]="userRound"></lucide-angular><span class="block">Account</span></a></li>
        <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-gray-700 text-[14px] whitespace-nowrap
            "><lucide-angular class="shrink-0"
                    [img]="bolt"></lucide-angular><span class="block">Dashboard</span></a></li>
        <li class="cursor-pointer"><a class="flex items-center gap-1 p-4 border-b border-gray-100 text-red-600 text-[14px] whitespace-nowrap
            "><lucide-angular class="shrink-0"
                    [img]="logOut"></lucide-angular><span class="block">Log Out</span></a></li>
    </ul>
</div>