<div class="form-container grid gap-10 md:gap-5">
    <h2 class="font-bold text-[30px] pb-6">Create A New password</h2>
    <p class="text-gray-600">Create a new strong password for your account.</p>
    <form class="grid grid-cols-12 gap-4" [formGroup]="confirmNewPassForm" (ngSubmit)="changePass()">
        <div class="card flex justify-center col-span-12">
            <div class="flex w-full flex-col gap-2">
                <label class="block" for="password">New password</label>
                <p-password id="password" [toggleMask]="true" formControlName="newPassword" autocomplete="off" />
                @let passInput = confirmNewPassForm.get('newPassword');
                @if(passInput?.invalid && passInput?.touched){
                @if(passInput?.getError('required')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter strong password</span>
                }@else if(passInput?.getError('pattern')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter a suitable formatted
                    password</span>
                }
                }
            </div>
        </div>
        <div class="card flex justify-center col-span-12">
            <div class="flex w-full flex-col gap-2">
                <label class="block" for="rePass">Confirm new password</label>
                <p-password id="rePass" [toggleMask]="true" autocomplete="off" formControlName="confirmPassword" />
                @let rePassInput = confirmNewPassForm.get('confirmPassword');
                @if(rePassInput?.invalid && rePassInput?.touched){
                @if(rePassInput?.getError('required')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter strong password</span>
                }@else if(rePassInput?.getError('pattern')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter a suitable formatted
                    password</span>
                }@else if(confirmNewPassForm.errors){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">ensure the confirmed password is
                    identical with password</span>
                }
                }
            </div>
        </div>
        @if(errorFlag()){
        <div class="col-span-12">
            <app-alert-message [alertContent]="errorMsg()"></app-alert-message>
        </div>
        }
        <div class="col-span-12 pt-6">
            <app-main-button [btnClass]="'1'" [content]="'Reset password'"
                [isRightIcon]=" buttonFlag() ? true : undefined " [disabledFlag]="buttonFlag()"
                [rightIcon]="buttonFlag() ? 'pi pi-spin pi-spinner': undefined"
                [buttonType]="'submit'"></app-main-button>
        </div>
    </form>
    <span class="text-center">already have an account ? <a class="text-blue-600" href="">Login now</a></span>
</div>