@if(isSmallScreen()){
<main class="flex flex-col items-center gap-2">
    <nav class="fixed bottom-2 left-0 w-full z-50">
        <app-main-sidebar></app-main-sidebar>
    </nav>
    <section>
        <div class="p-6 main-route bg-gray-50 grow">
            <div class="mb-6">
                <app-main-header></app-main-header>
            </div>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</main>
}@else {
<main class="grid grid-cols-12 h-screen">
    <nav class="md:col-span-3 bg-blue-50">
        <app-main-sidebar></app-main-sidebar>
    </nav>
    <section class="md:col-span-9 flex flex-col">
        <div class="bread-container text-[14px]">
            <p-breadcrumb [model]="pageTitleService.breadcrumbs()">
                <ng-template #separator> / </ng-template>
            </p-breadcrumb>
        </div>
        <div class="p-6 main-route bg-gray-50 grow">
            <div class="mb-6">
                <app-main-header></app-main-header>
            </div>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</main>
}