<div class="form-container grid gap-10 md:gap-5">
    <h2 class="font-bold text-[30px] pb-4">Create Account</h2>
    <h3 class="font-bold text-[25px] pb-4 text-blue-600">Create a strong password</h3>
    <form class="grid grid-cols-12 gap-4" [formGroup]="confirmPassForm" (ngSubmit)="createAccount()">
        <div class="card flex justify-center col-span-12">
            <div class="flex w-full flex-col gap-2">
                <label class="block" for="password">Password</label>
                <p-password id="password" [toggleMask]="true" formControlName="password" autocomplete="off" />
                @let passInput = confirmPassForm.get('password');
                @if(passInput?.invalid && passInput?.touched){
                @if(passInput?.getError('required')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter strong password</span>
                }@else if(passInput?.getError('pattern')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter a suitable formatted
                    password</span>
                }
                }
            </div>
        </div>
        <div class="card flex justify-center col-span-12">
            <div class="flex w-full flex-col gap-2">
                <label class="block" for="rePass">confirm password</label>
                <p-password id="rePass" [toggleMask]="true" formControlName="confirmPassword" autocomplete="off" />
                @let repassInput = confirmPassForm.get('confirmPassword');
                @if(repassInput?.invalid && repassInput?.touched){
                @if(repassInput?.getError('required')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter strong password</span>
                }@else if(repassInput?.getError('pattern')){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">please enter a suitable formatted
                    password</span>
                }@else if(confirmPassForm.errors){
                <span class="my-1 text-red-500 text-[16px] w-full inline-block">ensure the confirmed password is
                    identical with password</span>
                }
                }
            </div>
        </div>
        @if(errorFlag()){
        <div class="col-span-12">
            <app-alert-message [alertContent]="errorMsg()"></app-alert-message>
        </div>
        }
        <div class="col-span-12 pt-6">
            <app-main-button [btnClass]="'1'" [content]="'create account'"
                [isRightIcon]=" buttonFlag() ? true : undefined " [disabledFlag]="buttonFlag()"
                [rightIcon]="buttonFlag() ? 'pi pi-spin pi-spinner': undefined"
                [buttonType]="'submit'"></app-main-button>
        </div>
    </form>
</div>
