<div class="form-container grid gap-10 md:gap-5">
    <h2 class="font-bold text-[30px] pb-3">Forgot Password</h2>
    <p class="text-gray-600">Don’t worry, we will help you recover your account.</p>
    <form class="grid grid-cols-12 gap-4" [formGroup]="emailConfirmForPass" (ngSubmit)="submitEmail()">

        <div class="card flex justify-center col-span-12">
            <div class="flex flex-col gap-2 w-full">
                <label for="email">E-mail</label>
                <input class="w-full" pInputText id="email" aria-describedby="email" formControlName="email" type="email" />
                @let emailInput = emailConfirmForPass.get('email');
                @if(emailInput?.invalid && emailInput?.touched){
                @if(emailInput?.getError('required')){
                <span class="my-1 w-full inline-block text-red-500 text-[16px]">please enter your email</span>
                }@else if(emailInput?.getError('email')){
                <span class="my-1 w-full inline-block text-red-500 text-[16px]">please enter a valid email format
                    ex:john@doe.com</span>
                }
                }
            </div>
        </div>
        @if(errorFlag()){
        <div class="col-span-12">
            <app-alert-message [alertContent]="errorMsg()"></app-alert-message>
        </div>
        }
        <div class="col-span-12 pt-6">
            <app-main-button [btnClass]="'1'" [content]="'Continue'" [isRightIcon]="true" [buttonType]="'submit'"
                [disabledFlag]="buttonFlag()"
                [rightIcon]="buttonFlag() ? 'pi pi-spin pi-spinner': 'pi pi-arrow-right'"></app-main-button>
        </div>
    </form>
    <span class="text-center w-full inline-block text-gray-600">Don't have an account ? <span
            class="text-blue-600 cursor-pointer" (click)="navigateToRegister()">create
            yours</span></span>
</div>