<div class="form-container grid gap-10 md:gap-5">
    <h2 class="font-bold text-[30px] pb-6">Login</h2>
    <form class="grid grid-cols-12 gap-4" action="">
        <div class="card flex justify-center col-span-12">
            <div class="flex flex-col gap-2 w-full">
                <label for="userName">Username</label>
                <input class="w-full" pInputText id="userName" aria-describedby="username" />
            </div>
        </div>
        <div class="card flex justify-center col-span-12">
            <div class="flex w-full flex-col gap-2">
                <label class="block" for="password">Password</label>
                <p-password id="password" [toggleMask]="true" autocomplete="off" />
                <span><a class="text-blue-600 text-end block" href="">forgot your password ?</a></span>
            </div>
        </div>
        <div class="col-span-12 pt-6">
            <app-main-button [btnClass]="'1'" [content]="'login'"></app-main-button>
        </div>
    </form>
    <span class="text-center">don't have an account ? <a class="text-blue-600" href="">register now</a></span>
</div>